{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}


{% block search_bar %}
<h2>search</h2>
<form action="{% url 'rooms:search' %}">
  {{form.as_p}}
  <button>search</button>
</form>
{% endblock search_bar %}


{% block content %}

<h2> result </h2>


{% for room in rooms %}
  <h3>{{room.방이름}}</h3>
{% endfor %}


<hr>

{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}
Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
{% if page_obj.has_next %}
  <a href="?page={{page_obj.next_page_number}}">Next</a>
{% endif %}



{% endblock content %}